**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

Use el siguiente conjunto de datos para resolver los problemas propuestos. Use [gradetool](gradetool.md) para verificar las respuestas del notebook.

In [297]:
%%writefile data.csv
1,Vivian,Hamilton,1971-07-08,green,1
2,Karen,Holcomb,1974-05-23,green,4
3,Cody,Garrett,1973-04-22,orange,1
4,Roth,Fry,1975-01-29,black,1
5,Zoe,Conway,1974-07-03,blue,2
6,Gretchen,Kinney,1974-10-18,viole,1
7,Driscoll,Klein,1970-10-05,blue,5
8,Karyn,Diaz,1969-02-24,red,1
9,Merritt,Guy,1974-10-17,indigo,4
10,Kylan,Sexton,1975-02-28,black,4
11,Jordan,Estes,1969-12-07,indigo,4
12,Hope,Coffey,1973-12-24,green,5
13,Vivian,Crane,1970-08-27,gray,5
14,Clio,Noel,1972-12-12,red,5
15,Hope,Silva,1970-07-01,blue,5
16,Ayanna,Jarvis,1974-02-11,orange,5
17,Chanda,Boyer,1973-04-01,green,4
18,Chadwick,Knight,1973-04-29,yellow,1

Writing data.csv

In [298]:
%load_ext bigdata
%pig_init

The bigdata extension is already loaded. To reload it, use:
  %reload_ext bigdata

In [299]:
%%pig
u = LOAD 'data.csv' USING PigStorage(',') 
    AS (id:int, 
        firstname:CHARARRAY, 
        surname:CHARARRAY, 
        birthday:CHARARRAY, 
        color:CHARARRAY, 
        quantity:INT);

## Pregunta 1

Escriba una consulta en Pig que genere la siguiente salida:

    (Vivian@Hamilton)
    (Karen@Holcomb)
    (Cody@Garrett)
    (Roth@Fry)
    (Zoe@Conway)
    (Gretchen@Kinney)
    (Driscoll@Klein)
    (Karyn@Diaz)
    (Merritt@Guy)
    (Kylan@Sexton)
    (Jordan@Estes)
    (Hope@Coffey)
    (Vivian@Crane)
    (Clio@Noel)
    (Hope@Silva)
    (Ayanna@Jarvis)
    (Chanda@Boyer)
    (Chadwick@Knight)

In [58]:
%%pig
a = foreach u generate CONCAT(firstname,'@',surname);
dump a;

(Vivian@Hamilton)
(Karen@Holcomb)
(Cody@Garrett)
(Roth@Fry)
(Zoe@Conway)
(Gretchen@Kinney)
(Driscoll@Klein)
(Karyn@Diaz)
(Merritt@Guy)
(Kylan@Sexton)
(Jordan@Estes)
(Hope@Coffey)
(Vivian@Crane)
(Clio@Noel)
(Hope@Silva)
(Ayanna@Jarvis)
(Chanda@Boyer)
(Chadwick@Knight)

## Pregunta 2

Genere una relación con el apellido y su longitud. Ordene por longitud y por apellido. Obtenga la siguiente salida.

    (Hamilton,8)
    (Garrett,7)
    (Holcomb,7)
    (Coffey,6)
    (Conway,6)

In [59]:
%%pig
b = foreach u generate surname, SIZE(surname);
b = order b by $1 desc, $0;
b = limit b 5;
dump b;

(Hamilton,8)
(Garrett,7)
(Holcomb,7)
(Coffey,6)
(Conway,6)

## Pregunta 3

Escriba el código que genere la siguiente salida.

    (Hamilton,HAMILTON,hamilton)
    (Holcomb,HOLCOMB,holcomb)
    (Garrett,GARRETT,garrett)
    (Fry,FRY,fry)
    (Conway,CONWAY,conway)

In [60]:
%%pig
c = foreach u generate surname, UPPER(surname), LOWER(surname);
c = limit c 5;
dump c;

(Hamilton,HAMILTON,hamilton)
(Holcomb,HOLCOMB,holcomb)
(Garrett,GARRETT,garrett)
(Fry,FRY,fry)
(Conway,CONWAY,conway)

## Pregunta 4

Obtenga los apellidos que empiecen por las letras entre la 'd' y la 'k'. La salida esperada es la siguiente:

    (Hamilton)
    (Holcomb)
    (Garrett)
    (Fry)
    (Kinney)
    (Klein)
    (Diaz)
    (Guy)
    (Estes)
    (Jarvis)
    (Knight)

In [240]:
%%pig
d = foreach u generate surname;
d = filter d BY (surname matches '(D).*' or surname matches '(E).*' or
                 surname matches '(F).*' or surname matches '(G).*' or
                 surname matches '(H).*' or surname matches '(I).*' or
                 surname matches '(J).*' or surname matches '(K).*');
d = foreach d generate $0;
DUMP d;

(Hamilton)
(Holcomb)
(Garrett)
(Fry)
(Kinney)
(Klein)
(Diaz)
(Guy)
(Estes)
(Jarvis)
(Knight)

## Pregunta 5

Escriba el código equivalente a la siguiente consulta en SQL.

    SELECT
        color
    FROM 
        u 
    WHERE 
        color 
    LIKE 'b%';

In [61]:
%%pig
e = foreach u generate color;
e = filter e by $0 MATCHES 'b.*';
dump e;

(black)
(blue)
(blue)
(black)
(blue)

## Pregunta 6

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        color 
    FROM 
        u 
    WHERE 
        color NOT LIKE 'b%';

In [62]:
%%pig
f = foreach u generate color;
f = filter f by NOT($0 MATCHES 'b.*');
dump f;

(green)
(green)
(orange)
(viole)
(red)
(indigo)
(indigo)
(green)
(gray)
(red)
(orange)
(green)
(yellow)

## Pregunta 7

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u 
    WHERE color = 'blue' AND firstname LIKE 'Z%';

In [63]:
%%pig
g = foreach u generate firstname, color;
g = filter g by $0 MATCHES 'Z.*' and $1 MATCHES 'blue';
dump g;

(Zoe,blue)

## Pregunta 8

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u
    WHERE color = 'blue' OR firstname LIKE 'K%';

In [64]:
%%pig
h = foreach u generate firstname, color;
h = filter h by $0 MATCHES 'K.*' or $1 MATCHES 'blue';
dump h;

(Karen,green)
(Zoe,blue)
(Driscoll,blue)
(Karyn,red)
(Kylan,black)
(Hope,blue)

## Pregunta 9

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, color 
    FROM 
        u
    WHERE color IN ('blue','black');

In [65]:
%%pig
i = foreach u generate firstname, color;
i = filter i by $1 in ('blue','black');
dump i;

(Roth,black)
(Zoe,blue)
(Driscoll,blue)
(Kylan,black)
(Hope,blue)

## Pregunta 10

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, 
        color 
    FROM 
        u 
    WHERE color NOT IN ('blue','black');

In [66]:
%%pig
j = foreach u generate firstname, color;
j = filter j by NOT $1 IN ('blue','black');
dump j;

(Vivian,green)
(Karen,green)
(Cody,orange)
(Gretchen,viole)
(Karyn,red)
(Merritt,indigo)
(Jordan,indigo)
(Hope,green)
(Vivian,gray)
(Clio,red)
(Ayanna,orange)
(Chanda,green)
(Chadwick,yellow)

## Pregunta 11

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u 
    WHERE 
        color REGEXP '^b';

In [67]:
%%pig
k = foreach u generate firstname, color;
k = filter k by $1 MATCHES 'b.*';
dump k;

(Roth,black)
(Zoe,blue)
(Driscoll,blue)
(Kylan,black)
(Hope,blue)

## Pregunta 12

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u 
    WHERE 
        color REGEXP '^[^b]';

In [68]:
%%pig
l = foreach u generate firstname, color;
l = filter l by NOT ($1 MATCHES 'b.*');
dump l;

(Vivian,green)
(Karen,green)
(Cody,orange)
(Gretchen,viole)
(Karyn,red)
(Merritt,indigo)
(Jordan,indigo)
(Hope,green)
(Vivian,gray)
(Clio,red)
(Ayanna,orange)
(Chanda,green)
(Chadwick,yellow)

## Pregunta 13

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u
    WHERE 
        color REGEXP 'blue|green';

In [69]:
%%pig
m = foreach u generate firstname, color;
m = filter m by $1 in ('blue','green');
dump m;

(Vivian,green)
(Karen,green)
(Zoe,blue)
(Driscoll,blue)
(Hope,green)
(Hope,blue)
(Chanda,green)

## Pregunta 14

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u
    WHERE 
        color REGEXP '.n';

In [87]:
%%pig
n = foreach u generate firstname, color;
n = filter n by $1 MATCHES '.*.n';
dump n;

(Vivian,green)
(Karen,green)
(Hope,green)
(Chanda,green)

## Pregunta 15

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color 
    FROM 
        u 
    WHERE 
        color REGEXP '[aeiou]$';

In [243]:
%%pig
o = foreach u generate firstname,
SUBSTRING(color,(int)(SIZE(color)-1),(int)SIZE(color)),color;
o = filter o by $1 in ('a','e','i','o','u');
o = foreach o generate $0, $2;
dump o;

(Cody,orange)
(Zoe,blue)
(Gretchen,viole)
(Driscoll,blue)
(Merritt,indigo)
(Jordan,indigo)
(Hope,blue)
(Ayanna,orange)

## Pregunta 16

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        REGEX_EXTRACT(birthday, '....-..-..', 2) 
    FROM 
        u;

In [71]:
%%pig
p = foreach u generate REGEX_EXTRACT(birthday,'(.*)\\-(.*)\\-(.*)',2);
dump p;

(07)
(05)
(04)
(01)
(07)
(10)
(10)
(02)
(10)
(02)
(12)
(12)
(08)
(12)
(07)
(02)
(04)
(04)

## Pregunta 17

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT  
        firstname,
        SUBSTRING_INDEX(firstname, 'a', 1)
    FROM 
        u;

In [72]:
%%pig
q = foreach u generate INDEXOF(firstname,'a',1);
dump q;

(4)
(1)
(-1)
(-1)
(-1)
(-1)
(-1)
(1)
(-1)
(3)
(4)
(-1)
(4)
(-1)
(-1)
(2)
(2)
(2)

## Pregunta 18

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname 
    FROM 
        u 
    WHERE 
        SUBSTRING(firstname, 0, 1) >= 'm';

In [86]:
%%pig
r = foreach u generate firstname, SUBSTRING(firstname,0,1);
r = filter r by REGEX_EXTRACT($1,'(.*)',1)>='M';
r = foreach r generate $0;
dump r;

(Vivian)
(Roth)
(Zoe)
(Merritt)
(Vivian)

## Pregunta 19

Escriba el código equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, 
        LOCATE('ia', firstname) 
    FROM 
        u;

In [18]:
%%pig
s = foreach u generate INDEXOF(firstname,'ia',0);
dump s;

(3)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(-1)
(3)
(-1)
(-1)
(-1)
(-1)
(-1)

## Pregunta 20

Escriba el código en Pig para manipulación de fechas que genere sea equivalente a la siguiente consulta SQL.

    SELECT 
        birthday, 
        DATE_FORMAT(birthday, "yyyy"),
        DATE_FORMAT(birthday, "yy"),
    FROM 
        persons
    LIMIT
        5;

In [20]:
%%pig
t = foreach u generate SUBSTRING(birthday,0,4), SUBSTRING(birthday,2,4);
dump t;

(1971,71)
(1974,74)
(1973,73)
(1975,75)
(1974,74)
(1974,74)
(1970,70)
(1969,69)
(1974,74)
(1975,75)
(1969,69)
(1973,73)
(1970,70)
(1972,72)
(1970,70)
(1974,74)
(1973,73)
(1973,73)

## Pregunta 21

Escriba el código en Pig para manipulación de fechas que genere la siguiente salida.

    (1971-07-08,jul,07,7)
    (1974-05-23,may,05,5)
    (1973-04-22,abr,04,4)
    (1975-01-29,ene,01,1)
    (1974-07-03,jul,07,7)
    (1974-10-18,oct,10,10)
    (1970-10-05,oct,10,10)
    (1969-02-24,feb,02,2)
    (1974-10-17,oct,10,10)
    (1975-02-28,feb,02,2)
    (1969-12-07,dic,12,12)
    (1973-12-24,dic,12,12)
    (1970-08-27,ago,08,8)
    (1972-12-12,dic,12,12)
    (1970-07-01,jul,07,7)
    (1974-02-11,feb,02,2)
    (1973-04-01,abr,04,4)
    (1973-04-29,abr,04,4)

In [294]:
%%pig
v = foreach u generate birthday, SUBSTRING(birthday,5,7),
GetMonth(ToDate(birthday,'yyyy-MM-dd')),
SUBSTRING(birthday,5,7);
v = foreach v generate $0,
REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
    REPLACE(REPLACE(REPLACE($3,'01','ene'),'02','feb'),'04','abr'),
    '05','may'),'07','jul'),'08','ago'),'10','oct'),'12','dic'), $1, $2; 
DUMP v;

(1971-07-08,jul,07,7)
(1974-05-23,may,05,5)
(1973-04-22,abr,04,4)
(1975-01-29,ene,01,1)
(1974-07-03,jul,07,7)
(1974-10-18,oct,10,10)
(1970-10-05,oct,10,10)
(1969-02-24,feb,02,2)
(1974-10-17,oct,10,10)
(1975-02-28,feb,02,2)
(1969-12-07,dic,12,12)
(1973-12-24,dic,12,12)
(1970-08-27,ago,08,8)
(1972-12-12,dic,12,12)
(1970-07-01,jul,07,7)
(1974-02-11,feb,02,2)
(1973-04-01,abr,04,4)
(1973-04-29,abr,04,4)

## Pregunta 22

Escriba el código en Pig para manipulación de fechas que genere la siguiente salida:

    (1971-07-08,08,8,jue,jueves)
    (1974-05-23,23,23,jue,jueves)
    (1973-04-22,22,22,dom,domingo)
    (1975-01-29,29,29,mié,miércoles)
    (1974-07-03,03,3,mié,miércoles)
    (1974-10-18,18,18,vie,viernes)
    (1970-10-05,05,5,lun,lunes)
    (1969-02-24,24,24,lun,lunes)
    (1974-10-17,17,17,jue,jueves)
    (1975-02-28,28,28,vie,viernes)
    (1969-12-07,07,7,dom,domingo)
    (1973-12-24,24,24,lun,lunes)
    (1970-08-27,27,27,jue,jueves)
    (1972-12-12,12,12,mar,martes)
    (1970-07-01,01,1,mié,miércoles)
    (1974-02-11,11,11,lun,lunes)
    (1973-04-01,01,1,dom,domingo)
    (1973-04-29,29,29,dom,domingo)

In [300]:
%%pig
w = foreach u generate birthday, SUBSTRING(birthday,8,10),
GetDay(ToDate(birthday,'yyyy-MM-dd')),
SUBSTRING(birthday,8,10);
DUMP w;

(1971-07-08,08,8,08)
(1974-05-23,23,23,23)
(1973-04-22,22,22,22)
(1975-01-29,29,29,29)
(1974-07-03,03,3,03)
(1974-10-18,18,18,18)
(1970-10-05,05,5,05)
(1969-02-24,24,24,24)
(1974-10-17,17,17,17)
(1975-02-28,28,28,28)
(1969-12-07,07,7,07)
(1973-12-24,24,24,24)
(1970-08-27,27,27,27)
(1972-12-12,12,12,12)
(1970-07-01,01,1,01)
(1974-02-11,11,11,11)
(1973-04-01,01,1,01)
(1973-04-29,29,29,29)

## Pregunta 23

Cuente la cantidad de personas nacidas por año.

In [22]:
%%pig
x = foreach u generate SUBSTRING (birthday,0,4);
grouped_x = GROUP x BY $0;
wordcount_x = FOREACH grouped_x GENERATE group, COUNT(x);
dump wordcount_x;

(1969,2)
(1970,3)
(1971,1)
(1972,1)
(1973,4)
(1974,5)
(1975,2)

---

In [ ]:
!rm pig_* data.csv

---